<!-- About -->
<center>
    <div id="about" class="container content-container rounded shadow py-3 mb-5 mt-5">
      <div class="row">
        
        <div class="col-md mt-3 mb-3 text-center">
          <img src="">
        </div>
        
        <div class="col-md mt-5">
            <p class="text-center display-6" data-lang-key="about_title" >O Nas</p>
            <p data-lang-key="about_description">
              Witamy na stronie hodowli psów rasy maltańczyk i bolończyk- Akhbota zarejestrowanej w Związku Kynologicznym w Polsce i Międzynarodowej Organizacji Kynologicznej FCI.<br><br>
              Witamy na stronie hodowli psów rasy maltańczyk i bolończyk- Akhbota zarejestrowanej w Związku Kynologicznym w Polsce i Międzynarodowej Organizacji Kynologicznej FCI.<br><br>
              Witamy na stronie hodowli psów rasy maltańczyk i bolończyk- Akhbota zarejestrowanej w Związku Kynologicznym w Polsce i Międzynarodowej Organizacji Kynologicznej FCI.<br><br> 
            </p>
            <center>
              <h5 data-lang-key="about_fb_link">Po więcej aktualności zapraszamy do śledzenia naszego</h5><h4><a href="https://www.facebook.com/HodowlaBolonczykowAkhbotaFCI?paipv=0&eav=Afb5sr_5TEE5R_lxpkRe8Msw9KisZKaB6lg7qy9zb0TjF2-1lVV6TZBx6ezeBwqIo8U"><i class="bi bi-facebook"></i> Facebook<a></h4>
            </center>
        </div>

      </div>
    </div>
</center>