<!-- Carousel -->
<center>
    <div style="">
      <div id="carouselExampleCaptions" class="carousel slide carousel-custom" data-bs-ride="carousel">
        <div class="carousel-indicators" style="display: none;">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner rounded">
          <div class="carousel-item active" data-bs-interval="3500">
            <img src="https://scontent.fpoz4-1.fna.fbcdn.net/v/t39.30808-6/409000168_7613455422016570_2141877439079197297_n.jpg?stp=cp6_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_ohc=zIHQY_K7V8wQ7kNvgHHIdVS&_nc_ht=scontent.fpoz4-1.fna&oh=00_AYANiw3ebGTqWL9_Y3ryNuV-m2SDJP-OBAzFJUU_7I7Dog&oe=66A54575"
              class="d-block w-100" alt="...">
            <div class="carousel-caption-custom d-none d-md-block" style="color: transparent;">
              <h4>First slide label</h4>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="3500">
            <img src="https://scontent.fpoz4-1.fna.fbcdn.net/v/t39.30808-6/353037461_233495676077337_5071483629877258517_n.jpg?stp=cp6_dst-jpg&_nc_cat=107&ccb=1-7&_nc_sid=127cfc&_nc_ohc=Vs_Fk7DgUFEQ7kNvgFrKDBj&_nc_ht=scontent.fpoz4-1.fna&oh=00_AYCWeHAPh409KZl5Y0ZRo1CLgJSxIvbTDFMCrgoU3nTU7w&oe=66A541A3"
              class="d-block w-100" alt="...">
            <div class="carousel-caption-custom d-none d-md-block" style="color: transparent;">
              <h4>Second slide label</h4>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="3500">
            <img src="https://scontent.fpoz4-1.fna.fbcdn.net/v/t39.30808-6/348844231_685843386886042_1364703956605061731_n.jpg?stp=cp6_dst-jpg&_nc_cat=111&ccb=1-7&_nc_sid=127cfc&_nc_ohc=4oimv9hmKSgQ7kNvgFsABOW&_nc_ht=scontent.fpoz4-1.fna&oh=00_AYDRoyjUQKYaUg4Nvf6OR1UPPxNmG_dxenHYTpKx4RmE7g&oe=66A55C4C"
              class="d-block w-100" alt="...">
            <div class="carousel-caption-custom d-none d-md-block" style="color: transparent;">
              <h4>Third slide label</h4>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>

        </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

      </div>
    </div>
</center>