<!-- Contact -->
<div id="contact" class="container rounded shadow py-3 mb-5 mt-5">
    <p class="col-12 text-center display-6" data-lang-key="nav_contact">Kontakt</p>
        <div class="row">

        <div class="col-md my-5 text-center">
            
            <h4 data-lang-key="contact_title">Zapraszamy do kontaktu:</h4>  <br><br>
            <h5>tel. 666 - 666 - 666</h5>
            <h5>email. some@gmail.com</h5>  <br><br>
            <b>Hodowla Akhbota</b>  <br>
            Marcelów 17, Jedlinsk, Poland
            
        </div>

        <div class="col-md my-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.625825852903!2d21.155863912694077!3d51.50173357169438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4718f7c01650d5fd%3A0x6a951fa0cf66173!2sMarcel%C3%B3w%2017%2C%2026-660!5e0!3m2!1spl!2spl!4v1721730212024!5m2!1spl!2spl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>
</div>