<!-- Why-Us -->

<div id="why-us" class="container rounded shadow py-3 mb-5 mt-5">
    <p class="col-12 text-center display-6 mb-5" data-lang-key="wyroznienie_title">Co Nas Wyróżnia</p>

      <div class="row">
              
        <div class="col-md-3 col-sm-6 margin-bottom-sm margin-bottom-xs">
          <p><i class="bi bi-award"></i></p>
          <p data-lang-key="badge_description_1">Psy wystawowe</p>
        </div>
        <div class="col-sm-6 margin-bottom-xs margin-bottom-sm col-md-3">
          <p><i class="bi bi-patch-check"></i></p>
          <p data-lang-key="badge_description_2">Hodowla Certyfikowana</p>
        </div>
        <div class="col-sm-6 margin-bottom-xs margin-bottom-sm col-md-3">
          <p><i class="bi bi-trophy"></i></p>
          <p data-lang-key="badge_description_3">Nasze psy zdobyły wiele wyróżnień</p>
        </div>
        <div class="col-sm-6 margin-bottom-xs margin-bottom-sm col-md-3">
          <p><i class="bi bi-lungs"></i></p>
          <p data-lang-key="badge_description_4">Dbamy o&nbsp;regularną kontrolę zdrowia naszych psów</p>
        </div>

      </div>
    
</div>