<!-- Footer  -->
<footer>
    <div id="footer" class="footer">
        
      <div class="col-md-3">
        <b>Akhbota FCI</b><br>
        Marcelów 17<br>26-660 Jedlińsk, Poland
      </div>
  
      <div class="col-md-3 my-auto">
        <h3>
            <a href="https://www.facebook.com/HodowlaBolonczykowAkhbotaFCI?paipv=0&eav=Afb5sr_5TEE5R_lxpkRe8Msw9KisZKaB6lg7qy9zb0TjF2-1lVV6TZBx6ezeBwqIo8U" target="_blank"><i class="bi bi-facebook"></i></a>&nbsp;
            <a href="https://www.instagram.com/urszulakoczkodaj/channel/" target="_blank"><i class="bi bi-instagram"></i></a>&nbsp;
        </h3>
      </div>
  
      <div class="col-md-3 my-auto">
        &COPY; Copyright & Cookies
      </div>
  
    </div>
  </footer>