{% extends 'base.html' %}
{% load static %}
{% block title %}Hodowla Akhbota{% endblock %}

{% block content %}

<!-- Galeria -->
<div id="gallery" class="container rounded shadow p-3 mb-5 mt-5">
    <div class="row col-12 text-center mb-4">
        <p class="display-6" data-lang-key="gallery_title">Galeria</p>
      
        <div class="btn-group flex-wrap" role="group" aria-label="Basic radio toggle button group rounded">
            <a href={% url 'gallery' 'all' %} type="button" class="btn btn-all btn-secondary mb-2" value="all">Wszystkie</a>
            {% for value, display in choices %}
                {% if curr_choice == value %}
                    <a href={% url 'gallery' value %} type="button" class="btn-active btn btn-dark mb-2" value="{{ value }}">{{ display }}</a>
                {% else %}
                    <a href={% url 'gallery' value %} type="button" class="btn btn-outline-dark mb-2" value="{{ value }}">{{ display }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="gallery-items">            
        <div class="row">
        {% for item in gallery_items %}
            {% if item.image %}
                <div class="col-sm">
                    <a class="" role="button">
                        <img class="" src="{{item.image.url}}">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    </div>
</div>

{% endblock %}
