{% extends 'base.html' %}
{% load static %}
{% block title %}Hodowla Akhbota{% endblock %}

{% block content %}

<!-- Carousel -->

  {% include 'sections/carousel.html'%}
    
<!-- About -->
  
  {% include 'sections/about.html'%}
      
<!-- Hodowla -->
  
  {% include 'sections/kennel.html'%}

<!-- Co Nas Wyróżnia -->

  {% include 'sections/why-us.html'%}

<!-- Certyfikaty -->

  {% include 'sections/certificates.html'%}

<!-- Galeria -->
  
  {% include 'sections/gallery.html'%} 

<!-- Contact -->

  {% include 'sections/contact.html'%}

<!-- Cookies  -->
     
  {% include 'sections/cookies.html'%}

<!-- Go Top Button  -->    
  <a class="go-top" href="#top"><i class="bi bi-arrow-up"></i></a>

{% endblock %}

