{% extends 'base.html' %}
{% load static %}
{% block title %}Hodowla Akhbota{% endblock %}

{% block content %}

<!-- News -->

<!-- Carousel -->
<center>
  {% if carousel_items|length > 0%}
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for item in carousel_items %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="4000">
          <img src="{{item.image.url}}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ item.title }}</h5>
            <p>{{ item.description }}</p>
          </div>
        </div>
      {% endfor %%}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>
  {% endif %}
</center>
    
<!-- About -->
<center>
  <div id="about" class="container content-container rounded shadow py-3 mb-5 mt-5">
    <div class="row">
      
      <div class="col-md mt-3 mb-3 text-center">
        <img src="media/pictures/profil_o_nas.jpg">
      </div>
      
      <div class="col-md mt-5">
          <p class="text-center display-6" data-lang-key="about_title" >O Nas</p>
          <p class="px-2" data-lang-key="about_description">
            Witamy na stronie hodowli psów rasy maltańczyk i bolończyk- Akhbota zarejestrowanej w Związku Kynologicznym w Polsce i Międzynarodowej Organizacji Kynologicznej FCI.<br><br>
          </p>
          <p class="px-2">
            Hodowla założona w 1410 roku z miłości do bolonczyków, małych psów o wielkim sercu, które od lat mnie fascynują. Zaczęło się od jednego psa, który szybko stał się członkiem rodziny i zainspirował mnie do zgłębienia tajników hodowli tej wyjątkowej rasy. Z czasem postanowiłam założyć hodowlę, by dzielić się radością z innymi miłośnikami tych uroczych psów. Naszym celem jest hodowanie zdrowych, dobrze zsocjalizowanych bolonczyków, które znajdą kochające domy. Dziś jesteśmy dumni z naszej małej, ale prężnie rozwijającej się hodowli, która zyskała zaufanie wielu klientów.<br><br>
          </p>
          <center>
            <h5 data-lang-key="about_fb_link">Zapraszamy do śledzenia nas na</h5>
              <h3>
                  <a href="https://www.facebook.com/HodowlaBolonczykowAkhbotaFCI?paipv=0&eav=Afb5sr_5TEE5R_lxpkRe8Msw9KisZKaB6lg7qy9zb0TjF2-1lVV6TZBx6ezeBwqIo8U" class="mx-2" style="text-decoration: none;">
                    <i class="bi bi-facebook text-dark"></i>
                  </a>
                  <a href="https://www.instagram.com/urszulakoczkodaj/channel/" class="mx-2" style="text-decoration: none;">
                    <i class="bi bi-instagram text-dark"></i>
                  </a>
              </h3>
          </center>
      </div>

    </div>
  </div>
</center>

<!-- Why-Us -->

<div id="why-us" class="container rounded shadow py-3 mb-5 mt-5">
  <p class="col-12 text-center display-6 mb-5" data-lang-key="wyroznienie_title">Co Nas Wyróżnia</p>

    <div class="row">
            
      <div class="col-md-3 col-sm-6 margin-bottom-sm margin-bottom-xs">
        <p><i class="bi bi-award"></i></p>
        <p data-lang-key="badge_description_1">Psy wystawowe</p>
      </div>
      <div class="col-sm-6 margin-bottom-xs margin-bottom-sm col-md-3">
        <p><i class="bi bi-patch-check"></i></p>
        <p data-lang-key="badge_description_2">Hodowla Certyfikowana</p>
      </div>
      <div class="col-sm-6 margin-bottom-xs margin-bottom-sm col-md-3">
        <p><i class="bi bi-trophy"></i></p>
        <p data-lang-key="badge_description_3">Nasze psy zdobyły wiele wyróżnień</p>
      </div>
      <div class="col-sm-6 margin-bottom-xs margin-bottom-sm col-md-3">
        <p><i class="bi bi-lungs"></i></p>
        <p data-lang-key="badge_description_4">Dbamy o&nbsp;regularną kontrolę zdrowia naszych psów</p>
      </div>

    </div>
  
</div>

<!-- Certyfikaty -->

<div id="certificates" class="container rounded shadow py-3 mb-5 mt-5">
  <p class="col-12 text-center display-6 mb-5" data-lang-key="certificates_title">Certyfikaty</p>

    <div class="row">
        <p>&rarr; Certyfikat przynależności do Ogólnopolskiego Związku Hodowców</p>
        <p>&rarr; Zaświadczenie o hodowli odpowiedzialnej</p>
        <p>&rarr; 2022: Hodowla roku Powiatu Radomskiego</p>
    </div>
  
</div>
  

<!-- Contact -->
<div id="contact" class="container rounded shadow py-3 mb-5 mt-5">
  <p class="col-12 text-center display-6" data-lang-key="nav_contact">Kontakt</p>
      <div class="row">

      <div class="col-md my-5 text-center">
          
          <h4 data-lang-key="contact_title">Zapraszamy do kontaktu:</h4>  <br><br>
          <h5>tel. 666 - 666 - 666</h5>
          <h5>email. some@gmail.com</h5>  <br><br>
          <b>Hodowla Akhbota</b>  <br>
          Marcelów 17, Jedlinsk, Poland
          
      </div>

      <div class="col-md my-3">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.625825852903!2d21.155863912694077!3d51.50173357169438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4718f7c01650d5fd%3A0x6a951fa0cf66173!2sMarcel%C3%B3w%2017%2C%2026-660!5e0!3m2!1spl!2spl!4v1721730212024!5m2!1spl!2spl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

  </div>
</div>

<!-- Cookies  -->
     
<div id="cookies-popup" class="cookies-popup">
  <p>Ta strona używa plików cookies w celu zapewnienia lepszej jakości usług. Korzystając ze strony, zgadzasz się na użycie plików cookies.</p>
  <button id="accept-cookies" class="accept-cookies">Akceptuj</button>
</div>


{% endblock %}

