{% extends 'base.html' %}
{% load static %}
{% block title %}Hodowla Akhbota{% endblock %}

{% block content %}

<!-- Kennel -->
<div id="kennel" class="container rounded shadow p-3 mb-5 mt-5">
    <div class="row col-12 text-center mb-4" >
        
        <!-- title translation -->
        {% if title|slice:":4" == "Bolo" %}
            <p class="display-6" data-lang-key="nav_hodowla_2">Bolończyk</p>
        {% elif title|slice:":4" == "Rosy" %}
            <p class="display-6" data-lang-key="nav_hodowla_3">Rosyjska Bolonka Kolorowa</p>
        {% else %}
            <p class="display-6">{{ title }}</p>
        {% endif %}

        <!-- description translation -->
        {% if title|slice:":4" == "Bolo" %}
            <p class="mx-auto px-5" style="width: 90%;" data-lang-key="hodowla_description_2"></p>
        {% elif title|slice:":4" == "Rosy" %}
            <p class="mx-auto px-5 mb-4" style="width: 90%;" data-lang-key="hodowla_description_3"></p>
            <center>
                <ul class="mx-10 px-5 mb-4" style="width:70%;">
                    <li class="text-start" data-lang-key="hodowla_description_3_1"></li>
                    <li class="text-start" data-lang-key="hodowla_description_3_2"></li>
                    <li class="text-start" data-lang-key="hodowla_description_3_3"></li>
                    <li class="text-start" data-lang-key="hodowla_description_3_4"></li>
                    <li class="text-start" data-lang-key="hodowla_description_3_5"></li>
                    <li class="text-start" data-lang-key="hodowla_description_3_6"></li>
                    <li class="text-start" data-lang-key="hodowla_description_3_7"></li>
                </ul>
            </center>
        {% else %}
            <p class="mx-auto px-5">{{ description }}</p>
        {% endif %}

        <center>  
            {% for dog in dogs %}
                    <div class="card mb-3 text-start px-5" style="width: 90%;">
                        <div class="row mt-3">
                            {% if dog.image1 and dog.image2 %}
                                <img src="{{dog.image1.url}}" class="img-fluid rounded-start " alt="...">
                                <img src="{{dog.image2.url}}" class="img-fluid rounded-start " alt="...">
                            {% elif dog.image1 %}
                                <img src="{{dog.image1.url}}" class="img-fluid rounded-start " alt="...">
                            {% elif dog.image2 %}
                                <img src="{{dog.image2.url}}" class="img-fluid rounded-start " alt="...">
                            {% else %}
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="card-body">
                                <h5 class="card-title">{{dog.name}}</h5> 
                                {% if dog.awards_PL %} 
                                    <h6 class="awardsPL">{{dog.awards_PL}}</h6>
                                    <h6 class="awardsENG">{{dog.awards_EN}}</h6>
                                {% endif %}

                                <!-- breed translation -->
                                {% if title|slice:":4" == "Bolo" %}
                                    <strong><p class="card-text my-2" data-lang-key="nav_hodowla_2">Bolończyk</p></strong>
                                {% elif title|slice:":4" == "Rosy" %}
                                    <strong><p class="card-text my-2" data-lang-key="nav_hodowla_3">Rosyjska Bolonka Kolorowa</p></strong>
                                {% else %}
                                    <strong><p class="card-text my-2">{{ dog.breed }}</p></strong>
                                {% endif %}
                                
                                <!-- sex translation -->
                                <p class="card-text">
                                    <strong data-lang-key="sex_info">Płeć:</strong>&nbsp;
                                    {% if dog.sex|slice:":3" == "Suk" %}
                                        <span class="card-text my-2" data-lang-key="sex_female">Suka</span>
                                    {% elif dog.sex|slice:":3" == "Pie" %}
                                        <span class="card-text my-2" data-lang-key="sex_male">Pies</span>
                                    {% else %}
                                        <span class="card-text my-2">{{ dog.breed }}</span>
                                    {% endif %}
                                </p>

                                <p class="card-text">
                                    <strong data-lang-key="date_of_birth_info">Data urodzenia:</strong>&nbsp;&nbsp;&nbsp;{{dog.birth_date|date:"Y/m/d"}}
                                </p>
                                
                                <p class="card-text">
                                    <strong data-lang-key="additional_info">Dodatkowe informacje:</strong>&nbsp;&nbsp;&nbsp;{{dog.description}}
                                </p>
                            </div>
                        </div>
                    </div>
              {% endfor %}
            </center>
    </div> 
</div>


{% endblock %}


