<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light my-navbar-color pt-3 pb-3">
    <div class="container px-4 px-lg-5 d-flex justify-content-between">
      <a class="text-dark mb-0 h3 text-decoration-none logo" style="font-size:xx-large;" href="{% url 'home' %}"><i class="bi bi-subscript"></i>  Akhbota</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            
        <ul class="navbar-nav ms-lg-4">
            <li class="nav-item my-nav-item mx-1"><a class="nav-link" aria-current="page" href="{% url 'home' %}#about" data-lang-key="nav_about">O nas</a></li>
            <li class="nav-item my-nav-item dropdown mx-1">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-lang-key="nav_hodowla">Hodowla</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#hodowla" data-lang-key="nav_hodowla_1">Szczenięta</a></li>
                    <li><a class="dropdown-item" href="#hodowla" data-lang-key="nav_hodowla_2">Bolończyk</a></li>
                    <li><a class="dropdown-item" href="#hodowla" data-lang-key="nav_hodowla_3">Rosyjska Bolonka Kolorowa</a></li>
                </ul>
            </li>
            <li class="nav-item my-nav-item mx-1"><a class="nav-link" href="{% url 'gallery' %}" data-lang-key="nav_gallery">Galeria</a></li>
            <li class="nav-item my-nav-item mx-1"><a class="nav-link" href="{% url 'blog' %}" data-lang-key="nav_blog">Aktualności</a></li>
            <li class="nav-item my-nav-item mx-1"><a class="nav-link" href="{% url 'home' %}#contact" data-lang-key="nav_contact">Kontakt</a></li>
            <li class="nav-item mx-1"><button class="toggle-button-translate btn btn-outline-light" onclick="toggleLanguage()">EN</button></li>
        </ul>

      </div>
    </div>
</nav>