{% extends 'base.html' %}
{% load static %}
{% block title %}Hodowla Akhbota{% endblock %}

{% block content %}

<!-- puppies -->
<div id="puppies" class="container rounded shadow p-3 mb-5 mt-5">
    <div class="row col-12 text-center mb-4">

        <p class="display-6" data-lang-key="nav_puppies">Sczenięta</p>

        <center>  
            {% for pupp in puppies %}
              {% if pupp.image1 %}
                <div class="card mb-3 text-start">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{pupp.image1.url}}" class="img-fluid rounded-start" alt="..." style="width: 90%; height: 90%; object-fit: cover;">
                      </div>
                      <div class="col-md-8 px-5">
                        <div class="card-body">
                          <h5 class="card-title">{{pupp.name}}</h5>
                          <p class="card-text">{{pupp.description}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                {% else %}
                  <div class="card mb-3 text-start">
                    <div class="row g-0">
                      <div class="col-md-12 px-5">
                        <div class="card-body">
                            <h5 class="card-title">{{pupp.name}}</h5>
                            <p class="card-text">{{pupp.description}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
            {% endfor %}

        </center>
    </div> 
</div>


{% endblock %}
