{% extends 'base.html' %}
{% load static %}
{% block title %}Hodowla Akhbota{% endblock %}

{% block content %}

<!-- puppies -->
<div id="puppies" class="container rounded shadow p-3 mb-5 mt-5">
    <div class="row col-12 text-center mb-4">

        <p class="display-6" data-lang-key="nav_puppies">Sczenięta</p>

        <center>  

            {% for item in puppies %}
                <div class="card mb-3 px-5" style="width: 90%;">
                    <div class="row mt-3">
                        <div class="card-body">
                            <h5 class="card-title" data-lang-key="puppies_title"></h5>

                            {% if item.description_PL %}
                                <span class="puppiesPL card-text">{{item.description_PL}}</span>
                                <span class="puppiesENG card-text">{{item.description_EN}}</span>
                                <br>
                            {% endif %}

                            {% if item.image %}
                                <img src="{{item.image.url}}" class="img-fluid mt-3" style="width: 60%; border-radius: 3%;"  alt="...">
                                <br><br>
                            {% endif %}

                        </div>
                    </div>
                </div>
            {% endfor %}
                    

            <div class="col-md mt-5 mx-4" style="width: 87%;">
                <p class="text-center display-6" data-lang-key="puppies_question" >Czego oczekujemy od Ciebie, jeśli kupisz od nas szczeniaczka?</p>
                <p class="px-2" data-lang-key="puppies_text"></p>
                <br>
            </div>
        </center>
    </div> 
</div>


{% endblock %}
